- name: My first play
  hosts: localhost
  tasks:
   - name: Ping my hosts
     ansible.builtin.ping:

   - name: Print message
     ansible.builtin.debug:
       msg: Hello world

   - name: Create VM
     community.proxmox.proxmox_kvm: 
       api_user: root@pam
       api_password: int53109
       api_host: 10.13.104.219
       clone: SRE-09-3
       name: espresso-instance
       node: int531-09
       storage: local-lvm
       format: qcow2
       timeout: 100
       vmid: 172
