- name: Install Docker Engine (apt version)
  apt:
    name: docker.io
    state: present

- name: Install Docker Compose v2
  apt:
    name: docker-compose-v2
    state: present

- name: Make sure a service unit is running
  ansible.builtin.systemd_service:
    state: started
    name: docker
